
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE config
.idea/
.vscode/*
!.vscode/settings.json

# Genkit
.genkit/
.genkit-cache/
